// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)



@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  /* ff 3.6+ */
  background:-moz-linear-gradient(90deg, rgba(229, 52, 38, 1) 0%, rgba(240, 74, 60, 1) 52%, rgba(247, 87, 73, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(229, 52, 38, 1) 0%, rgba(240, 74, 60, 1) 52%, rgba(247, 87, 73, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(229, 52, 38, 1) 0%, rgba(240, 74, 60, 1) 52%, rgba(247, 87, 73, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F75749', endColorstr='#E53426', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(229, 52, 38, 1) 0%, rgba(240, 74, 60, 1) 52%, rgba(247, 87, 73, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(229, 52, 38, 1) 0%, rgba(240, 74, 60, 1) 52%, rgba(247, 87, 73, 1) 100%);
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
  overflow-y: overlay;
}

.title-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dex-circle {
  width: 40px;
  height: 40px;
  border: 4px solid rgb(252, 252, 252);
  border-radius: 50%;
  background-color: rgba(0, 82, 150, 0.993);
  margin-right: 15px;
  box-shadow: -4px 4px 3px rgba(0, 0, 0, 0.35);
}

.dex-little-circle{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(16, 117, 201, 0.993);
  position: relative;
  top: 10px;
  left: 10px;
}

h1 {
  color: rgb(238, 233, 228);
  font-size: 2.8rem;
  margin: 0;
  text-shadow: -4px 4px 3px rgba(0, 0, 0, 0.35);
  -webkit-text-stroke: 2px rgb(36, 35, 35);
}



.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
.pokemon-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 90%;
  min-height: 2044px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(207, 203, 198);
  padding: 20px 40px;
  border-radius: 2%;
  border: 10px solid #3e3e3e;
  box-shadow: -10px 10px 0px rgba(100, 100, 100, 0.5);
}

.img-container img,
.large-card-img-container img{
  filter: drop-shadow(-5px 5px 3px rgba(100, 100, 100, 0.5));
}
  
.pokemon-card,
.large-card {
  border: 5px solid #3e3e3e;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: rgb(51, 50, 50);
  background-color: rgb(112, 176, 206);
}

.pokemon-card{
  max-height: 222.59px;
}

.pokemon-card-disabled{
  filter: grayscale(60%);
}

.pokemon-card p {
  margin: 5px;
}


.pokemon-card_hover{
  cursor: pointer;
  transition: 1s;
  transition: 0.3s;
}

.pokemon-card_hover:hover {
  background-color: rgba(137, 231, 237, 1);
}

@-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

//ENTRANCE ANIMATION
@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shadow-pop-bl-fade-in {
	-webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both, fade-in 0.3s linear both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both, fade-in 0.3s linear both;
}

//EXIT ANIMATION

@-webkit-keyframes shadow-pop-bl-exit {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl-exit {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.shadow-pop-bl-exit-fade-out {
  -webkit-animation: shadow-pop-bl-exit 0.3s linear reverse both, fade-out 0.3s linear both;
	        animation: shadow-pop-bl-exit 0.3s linear reverse both, fade-out 0.3s linear both;
}
  
.pokemon-name,
.large-card-pokemon-name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}
  
#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
  
.pagination {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.btn-secondary,
.page-link,
.page-link:focus {
  background: rgb(51, 50, 50);
  border: none;
  color: white
}

.btn-secondary:hover,
.page-link:hover {
  background: rgb(75, 72, 72);
  color: white;
}

#previous,
#next {
  width: 120px;
  margin: 0 10px;
}

.pagination:disabled,
.page-item:disabled,
.page-link:disabled {
    color: var(--bs-btn-disabled-color);
    opacity: var(--bs-btn-disabled-opacity);
    border: 5px red;
}

 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.large-card-container {
  display: none;
  position: absolute;
  top: 25%;
  z-index: 1000;
  width: 100%;
  //height: 100%;
  justify-content: center;
}

.large-card-wrapper {
  position: relative;
  width: 60%;
  height: 40%;
}

.large-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: -10px 10px 0px rgba(100, 100, 100, 0.5);
}

.close-card {
  position: absolute;
  top: 10px;
  right: 13px;
  border-radius: 50%;
  padding: 5px 8px;
  background: rgb(51, 50, 50);
  color: white;
  font-size: 0.6rem;
  font-weight: 700;
  cursor: pointer;
}

.large-card-img-container,
.large-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.large-card-info {
  align-items: flex-start;
}

.large-card-info p {
  text-align: left;
}

.badge {
  width:auto;
  height:auto;
  background-color: white;
  margin: 0 2px;
  color:rgb(36, 35, 35);
}

.large-card-img-container img {
  width: 6rem;
}

.large-card-pokemon-name {
  font-size: 1.8rem;
}


@media screen and (min-width: 576px){
  .pokemon-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    min-height: 1149px;
  }
  h1 {
    font-size: 4rem;
  }
  .dex-circle {
    width: 60px;
    height: 60px;
  }
  
  .dex-little-circle{
    width: 20px;
    height: 20px;
  }
  #previous,
  #next {
  width: 200px;
}
}

@media screen and (min-width: 768px){
  .pokemon-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 701.39px;
  }
}
